//.// l-nav
@media screen and (max-width: 920px) {
    .l-nav {
        &__contentHero {
            @include transition();
            overflow-x: hidden;
            overflow-y: auto;
            display: block;
            background: $white;
            height: 100vh;
            position: fixed;
            right: -300px;
            top: 0;
            width: 260px;
            max-width: 100%;
            padding-bottom: 70px;
            &.is-active {
                right: 0;
            }
        }
        &__menu {
            border-bottom: 1px solid $mutedGray;
            padding: 10px 0;
            background: $white;
            > li, > li a {
                width: 100%;
                display: block;
                text-align: right;
            }
            > li a {
                padding: 10px 20px;
                color: $text;
            }
        }
        &__social {
            padding: 20px;
            border-bottom: 1px solid $mutedGray;
            .c-socialList {
                justify-content: flex-end;
            }
        }
        &__cta {
            padding: 20px;
            .c-btn,
            .c-btnWithIcon {
                max-width: 100%;
            }
        }
        
        &__showOnlyInResponsive {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            padding-right: 45px;
            flex: 1 1 auto;
            .l-nav__cta {
                padding: 0;
            }
        }
    
        &__maskMenu.maskAll,
        &__maskMenu.maskMenu {
            background: rgba(0,0,0,0.75);
            &.maskMenu {
                display: none;
            }
        }
        
        .c-hamburguer {
            display: block;
            &.is-active {
                margin-top: -25px;
                right: 270px;
            }
        }
        
        .c-subMenu {
            .c-subMenu__mask {
                display: none !important;
            }
            > .c-subMenu__call {
                text-align: right;
                padding-right: 45px;
                &:after {
                    @include transforms(translateY(50%), center);
                    left: inherit;
                    right: 20px;
                    bottom: 50%;
                }
            }
            > .c-subMenu__content {
                overflow-y: hidden;
                max-height: 0;
                position: relative;
                top: 0;
                padding: 0 10px;
            }
            
            &.is-active {
                > .c-subMenu__call {
                    &:after {
                        @include transforms(translateY(50%) rotate(180deg), center);
                    }
                }
                > .c-subMenu__content {
                    overflow-y: auto;
                    top: 0;
                    padding: 10px;
                    max-height: 2500px;
                }
            }
            
            .c-subMenu {
                .c-subMenu__call {
                    padding-right: 35px;
                    &:after {
                        right: 10px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 780px) {
    .u-maxRow {
        padding-top: 74px;
    }
    .l-nav {
        padding: 10px 0;
        &__brand {
            @include flexWidth(175px);
        }
        .c-hamburguer {
            &.is-active {
                margin-top: 5px;
            }
        }
        &.scrolled {
            .c-hamburguer {
                &.is-active {
                    margin-top: 10px;
                }
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .l-nav {
        &__showOnlyInResponsive {
            display: none;
        }
    }
}

// #page__home
@media screen and (max-width: 1350x) {
    #page__home {
        background-size: 900px;
    }
}

// s-homePresentation
@media screen and (max-width: 1350px) {
    .s-homePresentation {
        .u-containerBig {
            max-width: 1000px;
        }
        .splide__homePresentation {
            left: 0;
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
            img {
                display: block;
                width: 100%;
            }
            .splide__arrows {
                top: 411px;
                left: 587px;
                right: inherit;
            }
        }
        .splide__testimonials {
            left: 0;
            top: -135px;
        }
        .c-callSimulation {
            right: inherit;
            left: 735px;
            top: 190px;
        }
    }
}
@media screen and (max-width: 1010px) {
    .s-homePresentation {
        .u-containerBig {
            padding: 0;
        }
        .splide__homePresentation {
            margin-bottom: 30px;
            .splide__arrows {
                left: 0;
                top: inherit;
                bottom: 22.5%;
            }
            img {
                position: relative;
                width: 130%;
                left: -15%;
            }
        }
        .c-callSimulation {
            position: relative;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: 0 auto;
            h2, strong, p, .c-btn {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
            p {
                &:before {
                    right: 0;
                    margin: 0 auto;
                }
            }
        }
        .splide__testimonials {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 50px auto 0 auto;
            .splide__pagination {
                justify-content: center;
            }
        }
        .c-cardTestimonials {
            h3, strong, p {
                text-align: center;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .s-homePresentation {
        .splide__homePresentation {
            .splide__arrows {
                bottom: 7%;
                right: 0;
                left: auto;
            }
        }
    }
}

// l-headerHome
@media screen and (max-width: 540px) {
    .l-headerHome {
        a {
            width: 250px;
            height: auto;
        }
    }
}

// s-tagline
@media screen and (max-width: 1350px) {
    .s-tagline {
        margin-top: -40px;
    }
}
@media screen and (max-width: 1010px) {
    .s-tagline {
        margin-top: 50px;
    }
}

// .l-modal
@media screen and (max-width: 560px) {
    .l-modal {
        padding: 30px;
        max-width: 440px;
    }
}