// l-nav
@media screen and (max-width: 1040px) {
    .l-nav {
        .c-hamburguer {
            display: flex !important;
        }
        .c-subMenu {
            .c-subMenu__mask {
                display: none !important;
            }
            > .c-subMenu__call {
                text-align: left;
                &:after {
                    @include transforms(translateY(50%), center);
                    left: inherit;
                    right: 20px;
                    bottom: 50%;
                }
            }
            > .c-subMenu__content {
                overflow-y: hidden;
                width: 100%;
                max-height: 0;
                position: relative;
                top: 0;
                padding: 0 10px;
            }
        
            &.is-active {
                //background: blue;
                border-bottom: 1px solid #38383b;
                margin-bottom: 10px;
                > .c-subMenu__call {
                    font-weight: $fwMedium;
                    &:after {
                        @include transforms(translateY(50%) rotate(180deg), center);
                    }
                }
                > .c-subMenu__content {
                    overflow-y: auto;
                    top: 0;
                    padding: 0 0 10px 0;
                    max-height: 500px;
                    > ul li {
                        margin-bottom: 0;
                        a {
                            padding-left: 60px;
                        }
                    }
                }
            }
        
            .c-subMenu {
                //background: orange;
                border-bottom: 0;
                margin-bottom: 0;
                .c-subMenu__call {
                    &:after {
                        right: 10px;
                    }
                }
                .c-subMenu__content {
                    padding-bottom: 0;
                    li {
                        a {
                            padding-left: 70px !important;
                        }
                    }
                }
                
                &.is-active {
                    .c-subMenu__content {
                        border-bottom: 0;
                    }
                }
                
                .c-subMenu {
                    //background: pink;
                    border-bottom: 0;
                    margin-bottom: 0;
                    padding-bottom: 0;
                    .c-subMenu__content {
                        li {
                            a {
                                padding-left: 80px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .l-nav__links {
        display: none !important;
    }
}
@media screen and (max-width: 580px) {
    .c-hamburguer {
        min-width: 36px;
        .caption {
            display: none;
        }
    }
}

// #page__home
@media screen and (max-width: 1350x) {
    #page__home {
        background-size: 900px;
    }
}

// s-homePresentation
@media screen and (max-width: 1350px) {
    .s-homePresentation {
        .u-containerBig {
            max-width: 1000px;
        }
        .splide__homePresentation {
            left: 0;
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
            img {
                display: block;
                width: 100%;
            }
            .splide__arrows {
                top: 411px;
                left: 587px;
                right: inherit;
            }
        }
        .splide__testimonials {
            left: 0;
            top: -135px;
        }
        .c-callSimulation {
            right: inherit;
            left: 735px;
            top: 190px;
        }
    }
}
@media screen and (max-width: 1010px) {
    .s-homePresentation {
        .u-containerBig {
            padding: 0;
        }
        .splide__homePresentation {
            margin-bottom: 30px;
            .splide__arrows {
                left: 0;
                top: inherit;
                bottom: 22.5%;
            }
            img {
                position: relative;
                width: 130%;
                left: -15%;
            }
        }
        .c-callSimulation {
            position: relative;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: 0 auto;
            h2, strong, p, .c-btn {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
            p {
                &:before {
                    right: 0;
                    margin: 0 auto;
                }
            }
        }
        .splide__testimonials {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 50px auto 0 auto;
            .splide__pagination {
                justify-content: center;
            }
        }
        .c-cardTestimonials {
            h3, strong, p {
                text-align: center;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .s-homePresentation {
        .splide__homePresentation {
            .splide__arrows {
                bottom: 7%;
                right: 0;
                left: auto;
            }
        }
    }
}

// l-headerHome
@media screen and (max-width: 540px) {
    .l-headerHome {
        a {
            width: 250px;
            height: auto;
        }
    }
}

// s-tagline
@media screen and (max-width: 1010px) {
    .s-tagline {
        margin-top: 50px;
    }
}

// .l-modal
@media screen and (max-width: 560px) {
    .l-modal {
        padding: 30px;
        max-width: 440px;
    }
}

// s-company
@media screen and (max-width: 1010px) {
    .s-company {
        padding: 100px 0;
        .u-containerBig {
            flex-wrap: wrap;
            max-width: 780px;
            min-height: 0;
        }
        &__intro,
        &__picture {
            @include flexWidth(100%);
        }
        &__intro {
            margin-bottom: 20px;
        }
    }
}

// s-follow
@media screen and (max-width: 440px) {
    .s-follow {
        .c-simpleForm {
            padding: 25px;
        }
    }
}

// s-support
@media screen and (max-width: 880px) {
    .s-support {
        h1 {
            text-align: center;
        }
        .u-containerBig {
            max-width: 600px;
        }
        &__mainList {
            flex-wrap: wrap;
            left: 0;
            width: 100%;
            li.u-fw35,
            li.u-fw30{
                @include flexWidth(100%);
            }
            li {
                border-right: 0;
                margin-bottom: 30px;
                padding-bottom: 30px;
                padding-left: 0;
                padding-right: 0;
                border-bottom: 1px solid #272729;
                &:last-of-type {
                    border-bottom: 0;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }
        }
        &__intro,
        &__searchResult,
        &__search {
            i, h2, p, .label, .caption {
                text-align: center;
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 100%;
            }
        }
    }
}

// l-footer
@media screen and (max-width: 640px) {
    .l-footer {
        .u-containerFlex {
            flex-wrap: wrap;
            max-width: 260px;
        }
        &__brand {
            @include flexWidth(100%);
            margin-bottom: 30px;
            a {
                display: block;
                width: 80px;
                margin: 0 auto;
                img {
                    display: block;
                    width: 100%;
                }
            }
        }
        &__menu {
            @include flexWidth(100%);
            margin-bottom: 30px;
            margin-left: 0;
            margin-right: 0;
            li {
                margin-bottom: 15px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
            a {
                display: block;
                text-align: center;
            }
        }
        &__address {
            @include flexWidth(100%);
            li {
                text-align: center;
            }
        }
    }
}

// s-matriz
@media screen and (max-width: 1360px) {
    .s-matriz__r {
        @include flexWidth(350px);
    }
    .s-matriz__secure {
        @include flexWidth(250px);
    }
}
@media screen and (max-width: 1250px) {
    .s-matriz .u-containerBig {
        flex-wrap: wrap;
        max-width: 940px;
    }
    .s-matriz__l,
    .s-matriz__r {
        @include flexWidth(100%);
    }
    .s-matriz__secure {
        @include flexWidth(40%);
    }
    .s-matriz__cover {
        @include flexWidth(60%);
    }
    .s-matriz__brands {
        margin-top: 40px;
    }
    .s-matriz__advantages {
        margin-top: 40px;
    }
}
@media screen and (max-width: 780px) {
    .s-matriz__l {
        flex-wrap: wrap;
    }
    .s-matriz__secure {
        @include flexWidth(100%);
    }
    .s-matriz__cover {
        margin-top: 25px;
        @include flexWidth(100%);
        img {
            margin: 0 auto;
            display: block;
            width: 100%;
            max-width: 640px;
        }
    }
    .s-matriz__brands {
        margin-top: 15px;
    }
}

// s-group
@media screen and (max-width: 1180px) {
    .s-group {
        .u-containerBig {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__intro {
            padding-right: 0;
            margin-bottom: 50px;
            * {
                text-align: center;
            }
        }
        &__content {
            @include flexWidth(100%);
        }
    }
}
@media screen and (max-width: 1180px) {
    .s-groupCompanies {
        .u-containerBig {
            flex-wrap: wrap;
        }
        &__list {
            justify-content: center;
        }
        &__head {
            @include flexWidth(100%);
            margin-right: 0;
            border-right: 0;
            padding-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            max-width: 100%;
            h2 {
                text-align: center;
                max-width: 100%;
            }
        }
        &__list {
            @include flexWidth(100%);
        }
    }
}
@media screen and (max-width: 580px) {
    .s-group {
        padding-bottom: 0;
    }
    .s-group__content h2 {
        text-align: center;
        left: 0;
        top: 0;
        margin: 0 auto;
        position: relative;
        padding-top: 50px;
    }
    .s-group__content .addressFixed {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding-top: 50px;
        max-width: 100%;
        h3 {
            padding-left: 0;
            text-align: center;
            &:before {
                display: none;
            }
        }
        a {
            text-align: center;
        }
        address {
            position: relative;
            margin-top: 0;
            &:before {
                display: none;
            }
        }
    }
}