// Layout Colors
$primaryLight: #616161;
$primary: #4a4a4d;
$primaryDark: #333337;

$secondaryLight: #1e1e22;
$secondary: #151518;
$secondaryDark: #000000;

$white: #fff;
$white2: #f8f8f8;
$white3: #f4f4f4;

$blackLight: #151518;
$black: #000000;

$mutedGray: #ededed;
$lightGray: #e7e7e7;
$mediumGray: #c5c5c5;
$darkGray: #4c4c4c;
$baseGray: #898989;

$defaultRadius: 5px;

$feedbackSuccess: #1ca33d;
$feedbackLoad: #eee;
$feedbackError: #f05555;

$whatsappPrimary: #25d366;
$whatsappSecondary: #1eb456;

// Sizes
$containerWidth: 1200px;
$containerBigWidth: 1440px;
$maxRowWidth: 2560px;

// media folders
$media_assets : "../../media/img/assets/";
$media_icons : "../../media/img/icons/";
$media_content : "../../media/img/content/";
//example: background: url(#{$media_assets}image.png);

// text
$text: #666;
$placeholderText: lighten($text, 15%);
$fontFamily__default: 'Oswald', 'Arial', 'Calibri', sans-serif;
$fontFamily__secondary: 'Roboto', 'Arial', 'Calibri', sans-serif;
$fwExtraLight: 200;
$fwLight: 300;
$fwRegular: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;