// <>
body {
	@include scroll();
	overflow-x: hidden;
	background: #1e1e22;
}

// .
.u-maxRow {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	min-height: 100vh;
	padding-top: 45px;
	max-width: 100%;
	main {
		flex: 1 1 auto;
		max-width: 100%;
	}
	header {
		flex: 0 1 auto;
		max-width: 100%;
	}
	footer {
		flex: 0 1 auto;
		max-width: 100%;
	}
}
.splide__pagination {
	@include transforms(translateX(0), center);
	position: relative;
	justify-content: flex-end;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	margin-top: 30px;
}
.splide__pagination__page {
	@include opacity(1);
	width: 3px;
	height: 3px;
	display: block;
	background: #67676a;
	&.is-active {
		background: $white;
	}
}
.splide__arrows {
	display: block;
	position: relative;
	width: 91px;
	height: 42px;
	.splide__arrow {
		@include roundedAll(0);
		@include opacity(1);
		width: 45px;
		height: 42px;
		background: #000;
		svg {
			display: block;
			width: 10px;
			height: 12px;
			path {
				fill: $white;
			}
		}
		&--prev {
			left: 0;
		}
		&--next {
			right: 0;
		}
	}
}

// l-
.l-nav {
	@include transition($ease: ease-in);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 45px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: $blackLight;
	z-index: 10;
	
	&__links,
	&__followSecure {
		a {
			@include letterSpacing(40);
			display: block;
			text-transform: uppercase;
			color: $white;
			font-size: 12px;
			font-weight: $fwRegular;
			strong {
				font-weight: $fwMedium;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	&__links {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: nowrap;
		flex: 1 1 auto;
		padding-left: 20px;
		li {
			position: relative;
			margin-right: 30px;
			&:after {
				content: '';
				display: block;
				width: 1px;
				height: 12px;
				background: $white;
				position: absolute;
				right: -15px;
				top: 3px;
			}
			&:last-of-type {
				margin-right: 0;
				&:after {
					display: none;
				}
			}
		}
	}
	&__followSecure {
		width: 195px;
		background: $black;
		height: 45px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	
	&__contentHero {
		@include scroll();
		@include transition();
		flex: 1 1 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		max-width: 210px;
		width: 100%;
		align-items: center;
		position: fixed;
		top: 45px;
		left: -600px;
		z-index: 3;
		background: $black;
		padding-top: 30px;
		padding-bottom: 30px;
		&.is-active {
			left: 0;
		}
	}
	&__menu {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		position: relative;
		z-index: 2;
		> li {
			display: block;
			position: relative;
			a {
				color: $white;
				cursor: pointer;
				padding: 0 15px;
				&:hover {
					color: $secondary;
				}
			}
		}
	}
	
	&__maskMenu {
		&.maskAll,
		&.maskMenu {
			@include u-hideElement();
			z-index: 2;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			min-height: 100vh;
			display: block;
			background: rgba(0,0,0,0.15);
			&.is-active {
				@include u-showElement();
			}
		}
		&.maskMenu {
			z-index: 1;
		}
	}
}
.l-footer {
	background: #252529;
	padding: 50px 0;
	.u-containerFlex {
		justify-content: flex-start;
		align-items: center;
	}
	&__brand {
		@include flexWidth(50px);
	}
	&__menu {
		flex: 0 1 auto;
		margin: 0 65px;
		li {
			&:last-of-type {
				margin-bottom: 0;
			}
			a {
				@include opacity(0.3);
				@include transition();
				@include letterSpacing(100);
				font-size: 12px;
				font-weight: $fwLight;
				color: $white;
				line-height: 1;
				text-transform: uppercase;
				&:hover {
					@include opacity(0.6);
				}
			}
		}
	}
	&__address {
		flex: 1 1 auto;
		max-width: 350px;
		a, address {
			@include letterSpacing(100);
			@include opacity(0.3);
			@include transition();
			font-size: 12px;
			text-transform: uppercase;
			color: $white;
			font-weight: $fwLight;
			font-style: normal;
		}
		a {
			&:hover {
				@include opacity(1);
			}
		}
		.liEmail {
			margin-top: 15px;
		}
		.liPhone {
			a {
				@include opacity(1);
			}
		}
	}
}
.l-headerHome {
	height: 160px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	a {
		display: block;
		width: auto;
		height: 90px;
		img {
			display: block;
			width: 100%;
		}
	}
}
.l-modal__mask {
	@include u-hideElement;
	@include transition();
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 20;
	background: rgba(0,0,0,0.8);
	&.is-active {
		@include u-showElement;
	}
}
.l-modal {
	@include transforms(translateX(-50%) translateY(-50%), center);
	@include scroll();
	@include u-hideElement;
	@include transition();
	overflow: auto;
	display: block;
	width: 100%;
	max-width: 510px;
	max-height: 80vh;
	padding: 60px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 21;
	background: $white;
	&.is-active {
		@include u-showElement;
	}
	&__close {
		@include transition();
		position: absolute;
		top: 30px;
		right: 30px;
		display: block;
		width: 20px;
		height: 20px;
		padding: 5px;
		cursor: pointer;
		&:hover {
			background: $mutedGray;
		}
		img {
			display: block;
			width: 10px;
			height: 10px;
		}
	}
	&__content {
		h2 {
			@include titles;
		}
		p {
			@include smallUppercaseTexts()
		}
		.c-simpleForm {
			margin-top: 35px;
		}
	}
}
.l-modal__contact {
	.c-infosContato {
		padding: 35px 0;
		li {
			&:first-of-type {
				margin-bottom: 0;
			}
		}
	}
}
.l-modal__insuranceQuote {
	.splide__insuranceQuote {
		.splide__slide {
			@include transition($duration: 500ms);
			overflow: hidden;
			max-height: 0;
			&.is-active {
				max-height: 1200px;
			}
		}
	}
}

// s-
.s-homePresentation {
	display: block;
	.u-containerBig {
		max-width: 1340px;
	}
	.c-callSimulation {
		position: absolute;
		top: 260px;
		right: 50px;
	}
	.splide__homePresentation {
		position: relative;
		left: 70px;
		.splide__arrows {
			position: absolute;
			top: 540px;
			right: 326px;
		}
	}
	.splide__testimonials {
		position: relative;
		display: block;
		width: 100%;
		max-width: 255px;
		top: -165px;
		left: 136px;
	}
}
.s-tagline {
	display: block;
	width: 100%;
	margin-top: -100px;
	padding-bottom: 50px;
	p {
		@include opacity(0.4);
		@include letterSpacing(200);
		width: 100%;
		display: block;
		text-align: center;
		color: $white;
		font-size: 13px;
		font-weight: $fwLight;
		text-transform: uppercase;
	}
}
.s-clients {
	border-top: 1px solid #353539;
	position: relative;
	.u-containerBig {
		padding-top: 50px;
		padding-bottom: 50px;
		position: relative;
		&:before {
			@include roundedAll(2px);
			content: '';
			display: block;
			width: 100px;
			height: 3px;
			background: #353539;
			position: absolute;
			top: -2px;
			left: 50%;
			margin-left: -50px;
		}
	}
}
.s-company {
	padding: 50px 0;
	.u-containerBig {
		min-height: 740px;
		align-items: center;
		justify-content: space-between;
	}
	&__intro {
		@include flexWidth(350px);
	}
	&__picture {
		img {
			display: block;
			width: 100%;
			max-width: 850px;
		}
	}
	h1 {
		@include titles($tc: $white);
		margin-bottom: 30px;
	}
	p {
		@include opacity(0.5);
		@include paragrafos();
		text-align: justify;
	}
}

// #
#page__home {
	background: url(#{$media_assets}bg_homePresentation.png);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: 1170px;
}