@mixin paragrafos($tc: $white, $fw: $fwLight, $fs: 14px, $lh: 1.25, $mb: 20px, $mbLOT: 0) {
    font-family: $fontFamily__secondary;
    color: $tc;
    font-size: $fs;
    font-weight: $fw;
    margin-bottom: $mb;
    line-height: $lh;
    &:last-of-type {
        margin-bottom: $mbLOT;
    }
    a {
        color: $tc;
        font-size: $fs;
        font-weight: $fw;
        line-height: $lh;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    strong {
        font-weight: bold;
        color: $tc;
        font-size: $fs;
        line-height: $lh;
    }
    @media screen and (max-width: 430px) {
        font-size: $fs - 2;
        a, strong {
            font-size: $fs - 2;
        }
    }
}

@mixin titles($tc: $black, $fs: 26px) {
    display: block;
    width: 100%;
    color: $tc;
    text-transform: uppercase;
    font-size: $fs;
    font-weight: $fwLight;
    margin-bottom: 10px;
    strong {
        font-weight: $fwMedium;
    }
}

@mixin smallUppercaseTexts($tc: $black, $fs: 11px) {
    @include letterSpacing(50);
    display: block;
    color: $tc;
    font-size: $fs;
    text-transform: uppercase;
}